*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
/* This is to make sure the IDE does not overlap anything else in the window */
#wpcontent {
  height: calc(100vh - 32px);
  padding-left: 0;
  position: relative;
  z-index: 10;
}

#wpcontent #wpbody {
  height: 100%;
}

#wpcontent #wpbody #wpbody-content {
  height: 100%;
  padding-bottom: 0;
}

#wpfooter {
	display: none;
}

#wpide-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#quicktags,
#post-status-info,
#editor-toolbar,
#newcontent,
.ace_print_margin {
  display: none;
}
#template div {
  margin-right: 0 !important;
}

#template div {
  margin-right: 0 !important;
}

#wpide_toolbar form {
  position: absolute;
  left: 104%;
}

#wpide_toolbar .wpide_tab {
  position: relative;
  padding: 6px;
  padding-right: 20px;
  float: left;
  cursor: pointer;
  border-right: 1px solid #ccc;
  text-decoration: none;
}
#wpide_toolbar .wpide_tab.active {
  background-color: white;
}
#wpide_toolbar .wpide_tab.modified::after {
  content: ' â—';
}

#wpide_toolbar .close_tab {
  color: #575757;
  font-style: normal;
  padding-bottom: 7px;
  padding-left: 7px;
  position: absolute;
  right: 3px;
  text-decoration: none;
  top: -2px;
  outline: none !important;
}
#wpide_toolbar .close_tab:hover {
  color: #b00001;
  font-weight: bold;
}
#wpide_toolbar .close_tab:active {
  color: #444444;
  font-weight: bold;
}

.toplevel_page_wpide #docinfodiv h3.hndle {
  width: 100%;
  float: right;
  clear: right;
}
.toplevel_page_wpide #docinfodiv h3.hndle {
  padding: 7px 10px;
  margin: 0;
  line-height: 1;
}

#wpide_toolbar_buttons {
  min-height: 30px;
  overflow: hidden;
}

#wpide_toolbar_buttons a {
  display: block;
  float: right;
  margin: 2px;
}
#wpide_toolbar_buttons .red {
  color: #bc201d;
}

#wpwrap div.ace_gutter {
  background-color: #f4f4f4;
  color: #aaa;
  z-index: 999;
}

/* The above fix will make tooltips hide behind the gutter.
	   This will bring them in front. */
#wpwrap .ace_gutter-tooltip {
  z-index: 1000;
}

#wpide_save_container {
  display: flex;
  align-items: center;
  padding: 0.5%;
  background-color: #e9e9e9;

  border-color: #ccc;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* .wpide_func_highlight,
.wpide_func_highlight_black {
  font-size: 120%;
} */
.wpide_func_highlight {
  color: #4a8ead;
}
.wpide_func_params {
  padding-left: 10px;
  display: block;
  color: #555;
  font-family: monospace;
}
.wpide_func_desc {
  color: #333;
}
.wpide_func_arg_notrequired {
  color: #888;
}
.wpide_func_arg_notrequired em {
  color: green;
  display: block;
  font-size: 80%;
  line-height: 100%;
}

#fancyeditordiv {
  flex-grow: 1;
  width: 100%;
  min-height: 300px;
  /* Stop browser text selection of the editor.
			This will not stop selection IN the editor. */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#wpide_message {
  display: none;
  width: 80%;
  float: left;
  text-align: left;
  margin: 0;
  padding: 7px;
}

#wpide_message a {
  float: none;
  display: inline-block;
  margin: 2px;
}

#wpide_message span {
  width: 80%;
}

#wpide_message .note {
  font-size: 10px;
  margin: 10px 0;
  display: block;
}

#wpide_footer_message,
#wpide_footer_message_last_saved,
#wpide_footer_message_unsaved {
  display: none;
  padding: 8px;
  font-size: 12px;
  color: #666;
}
#wpide_footer_message_unsaved {
  color: #bc201d;
}

#wpide_save {
  margin-left: auto;
}

/* Make sure the modal window doesn't get hidden behind wp toolbar */
.ui-dialog {
  margin-top: 30px; /* this just is not working - the WP admin toolbar gets in the way */
}

.input_row {
  padding: 5px;
  width: 99%;
  background-color: #ddd;
  margin: 2px;
  display: block;
}
.input_row input[type='text'] {
  width: 98%;
}
.input_row .input_row em {
  margin: 2px;
  font-size: 10px;
}

#publishing-action img {
  visibility: hidden;
}

/* color assist */
.ImageColorPickerWrapper {
  width: 100%;
}
#wpide_color_assist img,
#wpide_color_assist canvas {
  margin: auto;
  display: block;
}
#wpide_color_assist canvas.ImageColorPickerCanvasColor {
  position: absolute;
  left: 0;
  top: 0;
}
#wpide_color_assist input[type='button'] {
  float: left;
  width: 110px;
  margin: 15px 5px;
  font-size: 12px;
}
#wpide_color_assist_input {
  float: left;
  width: 100px;
  margin: 15px 5px;
}

.currentColor,
.selectedColor {
  border: 1px solid #000;
  background-color: #fff;
  width: 30px;
  height: 30px;
}

.ImageColorPickerCanvas {
  cursor: crosshair;
}

div.ImageColorPickerWrapper {
}

#editor_settings_dialog {
  padding: 25px;
}

.editor_settings_dialog-minbutton {
  display: none;
}

/* Settings Dialog */
#editor_settings_dialog label {
  display: inline-block;
  width: 100%;
  margin: 4px 0;
  font-weight: bold;
}
#editor_settings_dialog label .ipt-sel {
  width: 125px;
}
#editor_settings_dialog label .number {
  width: 117px;
}
#editor_settings_dialog label input,
#editor_settings_dialog label select {
  float: right;
  font-weight: normal;
}
#editor_settings_dialog .left {
  float: left;
  width: 48%;
}
#editor_settings_dialog .right {
  float: right;
  width: 48%;
}

#editor_find_dialog {
  overflow: hidden;
}
#editor_find_dialog_minimized {
  float: right;
}
#editor_find_dialog label {
  display: block;
  width: 40%;
}
#editor_find_dialog label.left {
  display: inline-block;
  float: left;
  width: 65%;
}
#editor_find_dialog input.action_button {
  display: inline-block;
  float: right;
  width: 100%;
}
#editor_find_dialog input.action_button:active {
  box-shadow: 0 0 5px lightGrey inset;
}
#editor_find_dialog label.left input {
  float: right;
  width: 190px;
}
#editor_find_dialog div.search_direction {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30%;
}
#editor_find_dialog div.search_direction label {
  width: 100%;
}
#editor_find_dialog div.right {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 30%;
}
#editor_find_dialog div.right input {
  border: 1px solid #dfdfdf;
  background-color: #fefefe;
  border-radius: 2px;
}
#editor_find_dialog div.right input:hover {
  border-color: #aaaaaa;
}

ul.jqueryFileTree a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.jqueryFileTree .create_new a {
  min-width: 24px;
  max-width: 24px;
  width: 24px;
}

.jqueryFileTree .filetree_delete:hover {
  opacity: 1;
}

.jqueryFileTree .directory > a:hover,
.jqueryFileTree .file > a:hover {
  background-color: #bdf;
}

.jqueryFileTree .directory > a:active,
.jqueryFileTree .file > a:active {
  background-color: #bdf;
}

#wpide_file_browser .wpide-context-menu {
  position: absolute;
  background: white;
  border: 1px solid #aaaaaa;
  padding: 3px;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 6px 6px 11px -7px #333;
}
#wpide_file_browser .wpide-context-menu li {
  list-style-type: none;
  padding: 3px 6px 3px 20px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
#wpide_file_browser .wpide-context-menu li:hover {
  background-color: #dfdfdf;
}
